// @import "../../assets/styles/public";
// @import '../../assets/styles/mixins/sprite';

body {
  width: 100%;
  height: 100%;
  background: #ccc;
}

#app {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background: #fff;


  .test {
    position: relative;

    > .name {
      color: #f00;
    }
  }

  a {
    display: flex;
  }

}

.sp {
  display: inline-block;
}

// @include sprite($spritesheet-sprites);